<%-include('partials/head.ejs',{name:'HomePage'})%>

<%-include('partials/nav.ejs')%>
    <main class="wrapper">

    <section class="center">
        <h1>Error <strong>404</strong></h1>
         <p>Page doesn't found it</p>
        <a class="btn" href="/">Home Page</a>
    </section>

    </main>

<script src="/js/pages/index.js" type="module"></script>

<%-include('partials/footer.ejs')%>